.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
 /* shared */
 .text-primary{
    color:#FD6E0A;
 }
 .dark-2{
    color: #474747;
 }
 .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border-radius: 6px;
    border:none ;
    /* align-items: center; */

 }



/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    /* align-items: center; */


}
nav ul{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    align-items: center;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
/* bannar-style */
.banner-greeting{
    font-size: 45px;
    font-weight: 600px;

}
.banner-title{
font-weight: bold;
font-size: 85px;
}
.bannar-pro-pic{
    width: 580px;
}
.banner{
    display: flex;
}
.banner-contant{
    max-width: 580px;
}